In [73]:
import pandas as pd
import os
import datetime as dt

In [74]:
for dirname, _, filenames in os.walk('data'):
    for file in filenames:
        print(os.path.join(dirname, file))

data\All_Clickstream.csv
data\All_Devices.csv
data\All_Profiles.csv
data\All_SearchHistory.csv
data\All_ViewingActivity.csv

In [75]:
df = pd.DataFrame()

arquivoDevices = 'data/All_Devices.csv'
arquivoProfiles = 'data/All_Profiles.csv'
arquivoClickstream = 'data/All_Clickstream.csv'
arquivoSearchHistory = 'data/All_SearchHistory.csv'
arquivoViewingActivity = 'data/All_ViewingActivity.csv'

In [76]:
#Lendo todos os dados em Profiles.csv
datalist = [pd.read_csv(arquivoProfiles)]
df = pd.concat(datalist)
df

,Profile Name,Game Handle,Profile Creation Time,Maturity Level,Primary Lang,Has Auto Playback,Max Stream Quality,Profile Lock Enabled,Profile Transferred,Profile Transfer Time,Profile Transferred From Account,Profile Transferred To Account,Date Of Birth,Gender,Opt-Out,Privacy And Data Settings
0,User 0,NaN,29-10-2021 05:42,ADULTS,en-IN,1.0,Unknown,False,False,NaN,NaN,NaN,NaN,NaN,{},NaN
1,User 1,NaN,29-10-2021 05:42,ADULTS,en-IN,1.0,Unknown,False,False,NaN,NaN,NaN,NaN,NaN,{},NaN
2,User 2,NaN,29-10-2021 05:42,ADULTS,en-IN,1.0,Unknown,False,False,NaN,NaN,NaN,NaN,NaN,{},NaN
3,User 3,NaN,29-10-2021 05:42,ADULTS,en-IN,1.0,Unknown,False,False,NaN,NaN,NaN,NaN,NaN,{},NaN
4,User 4,NaN,29-10-2021 05:19,ADULTS,en-IN,NaN,Unknown,False,False,NaN,NaN,NaN,NaN,NaN,{},NaN
5,User 5,NaN,07-01-2023 14:07,ADULTS,en-IN,1.0,Unknown,False,False,NaN,NaN,NaN,NaN,NaN,NaN,{}
6,User 6,NaN,13-06-2022 18:09,ADULTS,en-IN,1.0,Unknown,False,False,NaN,NaN,NaN,NaN,NaN,NaN,{}
7,User 7,NaN,05-06-2022 16:43,ADULTS,en-IN,1.0,Unknown,False,False,NaN,NaN,NaN,NaN,NaN,NaN,{}
8,User 8,NaN,01-06-2022 13:24,ADULTS,en-IN,NaN,Unknown,False,False,NaN,NaN,NaN,NaN,NaN,NaN,{}

In [77]:
#Passando todos os "users" para uma chave, adicionando um suffixo do index para cada usuario
listaUsuarios = list(df['Profile Name'].value_counts().index)
usuariosDict = {profile: "User " + str(listaUsuarios.index(profile)) for profile in listaUsuarios}
df.replace({"Profile Name": usuariosDict}, inplace=True)
usuariosDict

{'User 0': 'User 0',
 'User 1': 'User 1',
 'User 2': 'User 2',
 'User 3': 'User 3',
 'User 4': 'User 4',
 'User 5': 'User 5',
 'User 6': 'User 6',
 'User 7': 'User 7',
 'User 8': 'User 8'}

In [78]:
#Retirando as colunas desnecessárias
df.drop(columns=df.columns[1:], inplace=True)
df

  Profile Name
0       User 0
1       User 1
2       User 2
3       User 3
4       User 4
5       User 5
6       User 6
7       User 7
8       User 8

In [79]:
#Lendo os dados - Devices
datalist = [pd.read_csv(arquivoDevices)]
df = pd.concat(datalist)
df

,Profile Name,Esn,Device Type,Acct First Playback Date,Acct Last Playback Date,Acct First Playback Date For User Generated Plays,Acct Last Playback Date For User Generated Plays,Profile First Playback Date,Profile Last Playback Date,Profile First Playback Date For User Generated Plays,Profile Last Playback Date For User Generated Plays,Deactivation Time
0,User 3,Esn 1,Device Type 4,2022-04-01T09:32:16.028Z,2022-11-07T12:57:43.624Z,2022-04-01T09:32:16.028Z,2022-11-07T12:57:43.624Z,2022-04-01T09:32:16.028Z,2022-11-07T12:57:43.624Z,2022-04-01T09:32:16.028Z,2022-11-07T12:57:43.624Z,NaN
1,User 1,Esn 6,Device Type 0,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,NaN,NaN,NaN,NaN,NaN
2,User 2,Esn 6,Device Type 0,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,NaN,NaN,NaN,NaN,NaN
3,User 3,Esn 6,Device Type 0,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,NaN,NaN,NaN,NaN,NaN
4,User 0,Esn 6,Device Type 0,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2022-08-03T16:57:01.297Z,2022-10-06T17:29:04.497Z,2022-08-03T16:57:01.297Z,2022-10-06T17:29:04.497Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
132,User 6,Esn 12,Device Type 6,2022-08-09T15:03:25.496Z,2022-11-09T16:15:07.336Z,2022-09-24T16:17:52.956Z,2022-11-09T16:09:35.070Z,2022-08-09T15:03:25.496Z,2022-09-24T16:47:49.211Z,2022-09-24T16:17:52.956Z,2022-09-24T16:39:11.809Z,NaN
133,User 6,Esn 24,Device Type 0,2022-06-30T15:06:02.168Z,2022-12-04T07:03:13.032Z,2022-06-30T15:06:02.168Z,2022-12-04T07:03:13.032Z,2022-07-17T09:29:45.094Z,2022-07-17T09:29:45.094Z,2022-07-17T09:29:45.094Z,2022-07-17T09:29:45.094Z,NaN
134,User 8,Esn 45,Device Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-06-20T07:06:22.004Z
135,User 8,Esn 40,Device Type 3,2023-06-17T14:29:41.591Z,2023-06-17T14:29:41.591Z,NaN,NaN,2023-06-17T14:29:41.591Z,2023-06-17T14:29:41.591Z,NaN,NaN,2023-06-17T14:33:39.127Z
136,User 8,Esn 57,Device Type 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07T15:12:07.307Z

In [80]:
#inserindo o dicionário de usuários no dataframe
df.replace({"Profile Name": usuariosDict}, inplace=True)
df

,Profile Name,Esn,Device Type,Acct First Playback Date,Acct Last Playback Date,Acct First Playback Date For User Generated Plays,Acct Last Playback Date For User Generated Plays,Profile First Playback Date,Profile Last Playback Date,Profile First Playback Date For User Generated Plays,Profile Last Playback Date For User Generated Plays,Deactivation Time
0,User 3,Esn 1,Device Type 4,2022-04-01T09:32:16.028Z,2022-11-07T12:57:43.624Z,2022-04-01T09:32:16.028Z,2022-11-07T12:57:43.624Z,2022-04-01T09:32:16.028Z,2022-11-07T12:57:43.624Z,2022-04-01T09:32:16.028Z,2022-11-07T12:57:43.624Z,NaN
1,User 1,Esn 6,Device Type 0,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,NaN,NaN,NaN,NaN,NaN
2,User 2,Esn 6,Device Type 0,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,NaN,NaN,NaN,NaN,NaN
3,User 3,Esn 6,Device Type 0,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,NaN,NaN,NaN,NaN,NaN
4,User 0,Esn 6,Device Type 0,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2021-12-24T14:40:29.147Z,2022-10-06T17:29:04.497Z,2022-08-03T16:57:01.297Z,2022-10-06T17:29:04.497Z,2022-08-03T16:57:01.297Z,2022-10-06T17:29:04.497Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
132,User 6,Esn 12,Device Type 6,2022-08-09T15:03:25.496Z,2022-11-09T16:15:07.336Z,2022-09-24T16:17:52.956Z,2022-11-09T16:09:35.070Z,2022-08-09T15:03:25.496Z,2022-09-24T16:47:49.211Z,2022-09-24T16:17:52.956Z,2022-09-24T16:39:11.809Z,NaN
133,User 6,Esn 24,Device Type 0,2022-06-30T15:06:02.168Z,2022-12-04T07:03:13.032Z,2022-06-30T15:06:02.168Z,2022-12-04T07:03:13.032Z,2022-07-17T09:29:45.094Z,2022-07-17T09:29:45.094Z,2022-07-17T09:29:45.094Z,2022-07-17T09:29:45.094Z,NaN
134,User 8,Esn 45,Device Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-06-20T07:06:22.004Z
135,User 8,Esn 40,Device Type 3,2023-06-17T14:29:41.591Z,2023-06-17T14:29:41.591Z,NaN,NaN,2023-06-17T14:29:41.591Z,2023-06-17T14:29:41.591Z,NaN,NaN,2023-06-17T14:33:39.127Z
136,User 8,Esn 57,Device Type 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-07T15:12:07.307Z

In [81]:
#Criando um dicionário para todos os ESNs 
listaEsn = list(df['Esn'].value_counts().index)
esnDict = {esn:"Esn " + str(listaEsn.index(esn)) for esn in listaEsn}
df.replace({"Esn": esnDict}, inplace=True)
esnDict

{'Esn 0': 'Esn 0',
 'Esn 1': 'Esn 1',
 'Esn 2': 'Esn 2',
 'Esn 3': 'Esn 3',
 'Esn 4': 'Esn 4',
 'Esn 5': 'Esn 5',
 'Esn 6': 'Esn 6',
 'Esn 7': 'Esn 7',
 'Esn 8': 'Esn 8',
 'Esn 9': 'Esn 9',
 'Esn 10': 'Esn 10',
 'Esn 11': 'Esn 11',
 'Esn 12': 'Esn 12',
 'Esn 13': 'Esn 13',
 'Esn 14': 'Esn 14',
 'Esn 15': 'Esn 15',
 'Esn 16': 'Esn 16',
 'Esn 17': 'Esn 17',
 'Esn 18': 'Esn 18',
 'Esn 19': 'Esn 19',
 'Esn 20': 'Esn 20',
 'Esn 21': 'Esn 21',
 'Esn 22': 'Esn 22',
 'Esn 23': 'Esn 23',
 'Esn 24': 'Esn 24',
 'Esn 25': 'Esn 25',
 'Esn 26': 'Esn 26',
 'Esn 27': 'Esn 27',
 'Esn 28': 'Esn 28',
 'Esn 29': 'Esn 29',
 'Esn 30': 'Esn 30',
 'Esn 31': 'Esn 31',
 'Esn 32': 'Esn 32',
 'Esn 33': 'Esn 33',
 'Esn 34': 'Esn 34',
 'Esn 35': 'Esn 35',
 'Esn 36': 'Esn 36',
 'Esn 37': 'Esn 37',
 'Esn 38': 'Esn 38',
 'Esn 39': 'Esn 39',
 'Esn 40': 'Esn 40',
 'Esn 41': 'Esn 41',
 'Esn 42': 'Esn 42',
 'Esn 43': 'Esn 43',
 'Esn 44': 'Esn 44',
 'Esn 45': 'Esn 45',
 'Esn 46': 'Esn 46',
 'Esn 47': 'Esn 47',
 'Esn 48': 'Esn 48',
 'Esn 49': 'Esn 49',
 'Esn 50': 'Esn 50',
 'Esn 51': 'Esn 51',
 'Esn 52': 'Esn 52',
 'Esn 53': 'Esn 53',
 'Esn 54': 'Esn 54',
 'Esn 55': 'Esn 55',
 'Esn 56': 'Esn 56',
 'Esn 57': 'Esn 57'}

In [82]:
#Criando um dicionário para os tipos de aparelho
listaTipoDevices = list(df['Device Type'].value_counts().index)
deviceTipoDict = {deviceType: "Device Type " + str(listaTipoDevices.index(deviceType)) for deviceType in listaTipoDevices}
df.replace({"Device Type" : deviceTipoDict}, inplace=True)
deviceTipoDict

{'Device Type 0': 'Device Type 0',
 'Device Type 1': 'Device Type 1',
 'Device Type 2': 'Device Type 2',
 'Device Type 3': 'Device Type 3',
 'Device Type 4': 'Device Type 4',
 'Device Type 5': 'Device Type 5',
 'Device Type 6': 'Device Type 6',
 'Device Type 7': 'Device Type 7',
 'Device Type 8': 'Device Type 8',
 'Device Type 9': 'Device Type 9',
 'Device Type 10': 'Device Type 10',
 'Device Type 11': 'Device Type 11'}

In [83]:
#Retirando as contas desativadas
df = df[df['Deactivation Time'].isnull()]

In [84]:
#Criando novas colunas para a primeria e ultima data e hora de playback e retirando as demais
df['First Playback Date'] = pd.to_datetime(df["Acct First Playback Date"]).dt.date
df['Last Playback Date'] = pd.to_datetime(df["Acct Last Playback Date"]).dt.date

df['First Playback Time'] = pd.to_datetime(df["Acct First Playback Date"]).dt.time
df['Last Playback Time'] = pd.to_datetime(df["Acct Last Playback Date"]).dt.time

#Retirando os microsegundos das colunas de hora
df['First Playback Time'] = df['First Playback Time'].apply(lambda x: x.replace(microsecond=0))
df['Last Playback Time'] = df['Last Playback Time'].apply(lambda x: x.replace(microsecond=0))

df.drop(columns=['Acct First Playback Date',
       'Acct Last Playback Date',
       'Acct First Playback Date For User Generated Plays',
       'Acct Last Playback Date For User Generated Plays',
       'Profile First Playback Date', 'Profile Last Playback Date',
       'Profile First Playback Date For User Generated Plays',
       'Profile Last Playback Date For User Generated Plays',
       'Deactivation Time'], inplace=True)

df

C:\Users\Fabrício\AppData\Local\Temp\ipykernel_17232\3142997909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['First Playback Date'] = pd.to_datetime(df["Acct First Playback Date"]).dt.date
C:\Users\Fabrício\AppData\Local\Temp\ipykernel_17232\3142997909.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last Playback Date'] = pd.to_datetime(df["Acct Last Playback Date"]).dt.date
C:\Users\Fabrício\AppData\Local\Temp\ipykernel_17232\3142997909.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['First Playback Time'] = pd.to_datetime(df["Acct First Playback Date"]).dt.time
C:\Users\Fabrício\AppData\Local\Temp\ipykernel_17232\3142997909.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last Playback Time'] = pd.to_datetime(df["Acct Last Playback Date"]).dt.time
C:\Users\Fabrício\AppData\Local\Temp\ipykernel_17232\3142997909.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['First Playback Time'] = df['First Playback Time'].apply(lambda x: x.replace(microsecond=0))
C:\Users\Fabrício\AppData\Local\Temp\ipykernel_17232\3142997909.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last Playback Time'] = df['Last Playback Time'].apply(lambda x: x.replace(microsecond=0))
C:\Users\Fabrício\AppData\Local\Temp\ipykernel_17232\3142997909.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Acct First Playback Date',

,Profile Name,Esn,Device Type,First Playback Date,Last Playback Date,First Playback Time,Last Playback Time
0,User 3,Esn 1,Device Type 4,2022-04-01,2022-11-07,09:32:16,12:57:43
1,User 1,Esn 6,Device Type 0,2021-12-24,2022-10-06,14:40:29,17:29:04
2,User 2,Esn 6,Device Type 0,2021-12-24,2022-10-06,14:40:29,17:29:04
3,User 3,Esn 6,Device Type 0,2021-12-24,2022-10-06,14:40:29,17:29:04
4,User 0,Esn 6,Device Type 0,2021-12-24,2022-10-06,14:40:29,17:29:04
...,...,...,...,...,...,...,...
129,User 7,Esn 26,Device Type 0,2022-06-05,2022-10-23,17:56:46,20:16:59
130,User 7,Esn 23,Device Type 1,2022-10-04,2022-10-06,17:09:35,16:14:12
131,User 6,Esn 20,Device Type 0,2022-08-13,2022-10-05,14:32:59,08:39:53
132,User 6,Esn 12,Device Type 6,2022-08-09,2022-11-09,15:03:25,16:15:07
133,User 6,Esn 24,Device Type 0,2022-06-30,2022-12-04,15:06:02,07:03:13

In [85]:
#Lendo os dados - Clickstream
datalist = [pd.read_csv(arquivoClickstream)]
df = pd.concat(datalist)
df

,Profile Name,Source,Navigation Level,Referrer Url,Webpage Url,Click Utc Ts
0,User 4,Source 0,signupPrompt,NaN,NaN,2022-10-08 14:04:47
1,User 4,Source 0,browseTitles,NaN,NaN,2022-10-08 14:04:46
2,User 4,Source 1,movieDetails,NaN,NaN,2022-09-30 14:53:50
3,User 4,Source 1,browseTitles,NaN,NaN,2022-09-30 14:53:50
4,User 4,Source 1,movieDetails,NaN,NaN,2022-09-30 14:53:49
...,...,...,...,...,...,...
12099,User 8,Source 0,search,NaN,NaN,2023-02-20 03:45:43
12100,User 8,Source 0,browseTitles,NaN,NaN,2023-02-20 03:45:20
12101,User 8,Source 0,search,NaN,NaN,2023-02-20 03:45:20
12102,User 8,Source 0,profilesGate,NaN,NaN,2023-02-20 03:44:47
12103,User 8,Source 0,browseTitles,NaN,NaN,2023-02-20 03:44:47

In [86]:
#Colocando o dicionário de usuarios no dataframe
df.replace({"Profile Name": usuariosDict}, inplace=True)

In [87]:
#Criando um dicionário para os Sources
listaSource = list(df['Source'].value_counts().index)
sourceDict = {source: "Source " + str(listaSource.index(source)) for source in listaSource}
df.replace({"Source": sourceDict}, inplace=True)
sourceDict

{'Source 0': 'Source 0', 'Source 1': 'Source 1', 'Source 2': 'Source 2'}

In [88]:
#Criando novas colunas para a data e hora do Click e retirando as demais
df['Click Date'] = pd.to_datetime(df['Click Utc Ts']).dt.date
df['Click Time'] = pd.to_datetime(df['Click Utc Ts']).dt.time

df.drop(columns=['Referrer Url', 'Webpage Url', 'Click Utc Ts'], inplace=True)
df

      Profile Name    Source Navigation Level  Click Date Click Time
0           User 4  Source 0     signupPrompt  2022-10-08   14:04:47
1           User 4  Source 0     browseTitles  2022-10-08   14:04:46
2           User 4  Source 1     movieDetails  2022-09-30   14:53:50
3           User 4  Source 1     browseTitles  2022-09-30   14:53:50
4           User 4  Source 1     movieDetails  2022-09-30   14:53:49
...            ...       ...              ...         ...        ...
12099       User 8  Source 0           search  2023-02-20   03:45:43
12100       User 8  Source 0     browseTitles  2023-02-20   03:45:20
12101       User 8  Source 0           search  2023-02-20   03:45:20
12102       User 8  Source 0     profilesGate  2023-02-20   03:44:47
12103       User 8  Source 0     browseTitles  2023-02-20   03:44:47

[12104 rows x 5 columns]

In [89]:
#Lendo os dados - Histórico
datalist = [pd.read_csv(arquivoSearchHistory)]
df = pd.concat(datalist)
df

,Profile Name,Country Iso Code,Device,Is Kids,Query Typed,Displayed Name,Action,Section,Utc Timestamp
0,User 4,AE,Device 0,0,NaN,"Manifest: Season 1: ""Pilot""",play,prequery_results,2022-08-01 13:59:19
1,User 4,AE,Device 0,0,NaN,NaN,select,prequery_results,2022-08-01 13:59:18
2,User 4,AE,Device 0,0,NaN,"Manifest: Season 1: ""Pilot""",play,prequery_results,2022-08-01 13:59:07
3,User 4,AE,Device 0,0,NaN,NaN,select,prequery_results,2022-08-01 13:59:03
4,User 4,AE,Device 0,0,the gray,The Gray Man,add,title_results,2022-07-17 13:59:23
...,...,...,...,...,...,...,...,...,...
2611,User 8,IN,Device 0,0,mut,Muthu,play,title_results,2022-06-01 17:37:40
2612,User 8,IN,Device 0,0,mut,Muthu,select,title_results,2022-06-01 17:37:38
2613,User 8,IN,Device 0,0,mut,Muthu,select,title_results,2022-06-01 17:37:35
2614,User 8,IN,Device 0,0,mut,Muthu,select,title_results,2022-06-01 17:37:33
2615,User 8,IN,Device 0,0,mut,Kannathil Muthamittal,select,title_results,2022-06-01 17:37:25

In [90]:
df.replace({"Profile Name": usuariosDict}, inplace=True)

In [91]:
#Criando um dicionário os aparelhos utilizados
listaAparelhos = list(df['Device'].value_counts().index)
aparelhosDict = {devices:"Device " + str(listaAparelhos.index(devices)) for devices in listaAparelhos}
df.replace({"Devices": aparelhosDict}, inplace=True)
aparelhosDict

{'Device 0': 'Device 0',
 'Device 1': 'Device 1',
 'Device 2': 'Device 2',
 'Device 3': 'Device 3',
 'Device 4': 'Device 4',
 'Device 5': 'Device 5'}

In [92]:
df

,Profile Name,Country Iso Code,Device,Is Kids,Query Typed,Displayed Name,Action,Section,Utc Timestamp
0,User 4,AE,Device 0,0,NaN,"Manifest: Season 1: ""Pilot""",play,prequery_results,2022-08-01 13:59:19
1,User 4,AE,Device 0,0,NaN,NaN,select,prequery_results,2022-08-01 13:59:18
2,User 4,AE,Device 0,0,NaN,"Manifest: Season 1: ""Pilot""",play,prequery_results,2022-08-01 13:59:07
3,User 4,AE,Device 0,0,NaN,NaN,select,prequery_results,2022-08-01 13:59:03
4,User 4,AE,Device 0,0,the gray,The Gray Man,add,title_results,2022-07-17 13:59:23
...,...,...,...,...,...,...,...,...,...
2611,User 8,IN,Device 0,0,mut,Muthu,play,title_results,2022-06-01 17:37:40
2612,User 8,IN,Device 0,0,mut,Muthu,select,title_results,2022-06-01 17:37:38
2613,User 8,IN,Device 0,0,mut,Muthu,select,title_results,2022-06-01 17:37:35
2614,User 8,IN,Device 0,0,mut,Muthu,select,title_results,2022-06-01 17:37:33
2615,User 8,IN,Device 0,0,mut,Kannathil Muthamittal,select,title_results,2022-06-01 17:37:25

In [93]:
#Lendo os dados - Atividade de visualização
datalist = [pd.read_csv(arquivoViewingActivity)]
df = pd.concat(datalist)
df

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,User 1,2022-04-28 16:08:56,00:00:06,NaN,Chernobyl 1986,NaN,Device Type 1,01:02:16,01:02:16,IN (India)
1,User 1,2022-04-28 15:54:30,00:09:39,NaN,13 Hours: The Secret Soldiers of Benghazi,NaN,Device Type 1,02:13:19,02:13:19,IN (India)
2,User 1,2022-04-28 15:53:20,00:00:06,NaN,Saving Private Ryan,NaN,Device Type 1,01:16:17,01:16:17,IN (India)
3,User 1,2022-04-28 15:52:18,00:00:15,NaN,Mosul,NaN,Device Type 1,01:06:44,01:06:44,IN (India)
4,User 1,2022-04-28 15:49:11,00:01:45,NaN,12 Strong,NaN,Device Type 1,00:52:28,00:52:28,IN (India)
...,...,...,...,...,...,...,...,...,...,...
9987,User 5,2023-01-07 18:41:03,00:00:26,NaN,Slumberland - Fast Laughs - Clip 3,HOOK,Device Type 1,00:00:26,00:00:26,IN (India)
9988,User 5,2023-01-07 15:44:54,00:02:14,NaN,Wednesday: Season 1: Wednesday's Child Is Full...,NaN,Device Type 5,00:23:25,Not latest view,IN (India)
9989,User 5,2023-01-07 15:13:36,00:21:11,NaN,Wednesday: Season 1: Wednesday's Child Is Full...,NaN,Device Type 5,00:21:11,Not latest view,IN (India)
9990,User 5,2023-01-07 15:13:26,00:00:06,Autoplayed: user action: None;,Season 1 Genre Specific Moment Clip: Wednesday,HOOK,Device Type 5,00:00:06,Not latest view,IN (India)
9991,User 5,2023-01-07 15:13:19,00:00:04,Autoplayed: user action: None;,Naruto Shippuden: Season 1_hook_03_16x9,HOOK,Device Type 5,00:00:04,Not latest view,IN (India)

In [94]:
#inserindo os dicionários de usuarios e tipo de aparelho no dataframe
df.replace({"Profile Name": usuariosDict}, inplace=True)
df.replace({"Device Type" : deviceTipoDict}, inplace=True)

In [95]:
#Criando novas colunas para data e hora em que o conteúdo foi visualizado, e retirando as colunas desnecessárias
df['Viewed at Date'] = pd.to_datetime(df['Start Time']).dt.date
df['Viewed at Time'] = pd.to_datetime(df['Start Time']).dt.time

df['Bookmarked in Minutes'] = pd.to_datetime(df['Bookmark']).dt.time

df.drop(columns=["Duration", "Bookmark", "Latest Bookmark", "Start Time", "Attributes", "Supplemental Video Type"], inplace=True)
df

C:\Users\Fabrício\AppData\Local\Temp\ipykernel_17232\3759487191.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Bookmarked in Minutes'] = pd.to_datetime(df['Bookmark']).dt.time

,Profile Name,Title,Device Type,Country,Viewed at Date,Viewed at Time,Bookmarked in Minutes
0,User 1,Chernobyl 1986,Device Type 1,IN (India),2022-04-28,16:08:56,01:02:16
1,User 1,13 Hours: The Secret Soldiers of Benghazi,Device Type 1,IN (India),2022-04-28,15:54:30,02:13:19
2,User 1,Saving Private Ryan,Device Type 1,IN (India),2022-04-28,15:53:20,01:16:17
3,User 1,Mosul,Device Type 1,IN (India),2022-04-28,15:52:18,01:06:44
4,User 1,12 Strong,Device Type 1,IN (India),2022-04-28,15:49:11,00:52:28
...,...,...,...,...,...,...,...
9987,User 5,Slumberland - Fast Laughs - Clip 3,Device Type 1,IN (India),2023-01-07,18:41:03,00:00:26
9988,User 5,Wednesday: Season 1: Wednesday's Child Is Full...,Device Type 5,IN (India),2023-01-07,15:44:54,00:23:25
9989,User 5,Wednesday: Season 1: Wednesday's Child Is Full...,Device Type 5,IN (India),2023-01-07,15:13:36,00:21:11
9990,User 5,Season 1 Genre Specific Moment Clip: Wednesday,Device Type 5,IN (India),2023-01-07,15:13:26,00:00:06
9991,User 5,Naruto Shippuden: Season 1_hook_03_16x9,Device Type 5,IN (India),2023-01-07,15:13:19,00:00:04